fastapi
uvicorn
python-dotenv
pandas
psycopg2-binary
sqlalchemy
google-genai
google-cloud-storage
pdf2image
Pillow
pdfplumber
python-multipart
requests
streamlit
mysql-connector-python
google-auth-oauthlib
google-api-python-client